#aside-click
  text-align: center;
  margin-bottom: 30px;

.click-number
  font-size: 3.2em;
  line-height: 100%;
  margin: 10px 0 20px;

table.click-indexes
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  .click-number
    margin-bottom: 0;
  td
    vertical-align: middle;
    width: 50%;

td.click-grade
  font-size: 2em;
  line-height: 1.6;
  padding: 15px;
  border-radius: 2px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  letter-spacing: 0.1em;

p.reliability
  margin: 20px 0 0;
  text-align: center;
  font-size: 12px;
  color: #999;

.rbox-list a
  border-radius: 3px 3px 0 0;

.tagcloud
  .tag-item
    display: inline-block;
    padding: 3px 8px;
    margin: 4px;
    background: #f6f6f6;
    color: #555;
    font-size: 13px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    strong
      font-weight: 400;
    &:hover
      text-decoration: none;
      background: #fafafa;
