h2 已有豆瓣酱账号，直接登录
form.form-horizontal(method="post", action="#{conf.ssl_root}/login")
  input(type="hidden", name="_csrf", value="#{_csrf}")
  .form-group
    label.control-label(for="username") 用户名/邮箱
    .controls
      input#username.form-control(name="username", placeholder="yourname@example.com", autofocus, value=fields.username, type="text")
  .form-group
    label.control-label(for="password") 密码
    .controls
      input#password.form-control(name="password", placeholder="你的密码", type="password")
  .form-group
    .controls
      button.btn.btn-primary(type="submit")
        登录

