.top-n
  position: absolute;
  display: inline-block;
  padding: 0 0.4em;
  line-height: 1.4em;
  font-family: 'Times New Rome', serif;
  background: #dfdfdf;
  font-size: 11px;
  border-radius: 2px;
  color: #fff;
  left: -5px;
  top: -6px;
  text-align: center;
