include ./mixins

#overview.row.mod
  .col.col-lg-4
    h3 总览
        a.anchor(href="#overview") #
    mixin overview(people)
  .col.col-lg-5
    .chart.chart-pie#d-summary(data-pie=people.book_csv('r_status'))
      .caption 想读/读过/在读图书比例
  .col.col-lg-3
    h4 最新收藏
    if locals.latest_interests
      ul.text-muted
        each item in latest_interests
          li 
            mixin interest_item(item, 8)
    else if people.last_synced_status === 'ing'
      p.text-muted 正在重新同步...
    else
      p 暂时没有
