include ./mixins.jade

#most-commented.row.mod
  .span12
    h4 体悟
      small.muted (不包括长篇评论)
      a.anchor(href="#most-commented") #
      if n_comments > most_commented.length
        a.pull-right.btn.btn-mini.btn-compact(href="#{people.url()}quote") 全部 》
    if most_commented
      ul.comments-list
        each i in most_commented
          if i.comment
            li(id="comment-#{i._id}")
              mixin comment_item(i)
    else
      .vmiddle
        p.muted 收藏时写的短评会出现在这里

