#tags.row.mod
  .col.col-lg-12
    h3 偏好
      a.anchor(href="#tags") #
    .chart
      - tree = JSON.stringify(people.book_tags(istatus.status))
      #d-tags.chart-treemap(data-ns="book", data-tree=tree)
