#tops.row
  .span12
    h3 阅读之最
      a.anchor(href="#tops") #
.row.mod
  .span3
    h4 最厚的书
    mixin small_list(coll.most_pages.slice(0,5), 'pages', '页')
  .span3
    h4 最薄的书
    mixin small_list(coll.least_pages.slice(0,5), 'pages', '页')
  .span3
    h4 最贵的书
    mixin small_list(coll.most_price.slice(0,5), 'ori_price')
  .span3
    h4 最便宜的书
    mixin small_list(coll.least_price.slice(0,5), 'ori_price')
.row.mod
  .span3
    h4 豆瓣评分最高
    mixin small_list(coll.most_rated.slice(0,10), 'rated')
  .span3
    h4 豆瓣评分最低
    mixin small_list(coll.least_rated.slice(0,10), 'rated')
  .span3
    h4 最多人看过
    mixin small_list(coll.most_raters.slice(0,10), 'raters')
  .span3
    h4 最少人看过
    mixin small_list(coll.least_raters.slice(0,10), 'raters')

mixin small_list(items, prop, suffix)
  - suffix = suffix || ''
  ol.muted.list-small
    each b in items
      li
        a(href="http://book.douban.com/subject/#{b._id}/", target="db-book") #{trunc(b.title, 8)}
        span.label-compact #{b[prop]}#{suffix}
