include ../mixins/interest

- s = people[istatus.ns + '_stats']
- coll = s[istatus.status]

.pull-right
  include ../mods/share.html
h2 #{people.name} 的读书酱
  a.btn.btn-mini.btn-compact(href=people.db_url('book'), target="db-profile")   读书主页 ⇗
hr
include ./book/overview

hr
- locals.section_title = '阅读关键词'
include ./book/keywords
hr
- locals.section_title = '偏好'
include ./book/tags
hr
include ./book/history
hr
include ./book/tops

include ./book/favs

hr
a.pull-right.btn.btn-small.btn-success(href=people.url() + 'read') &gt; 只看读过的书
