include ../mixins/interest

if istatus
  - s = people[istatus.ns + '_stats']
  - coll = s[istatus.status]
else
  - s = people.book_stats
  - coll = s.all

if istatus.status == 'all'
  h2 #{people.name} 的读书酱
    a.btn.btn-mini.btn-compact(href=people.db_url('book'), target="db-profile")   读书主页 ⇗
    .pull-right
      a.btn.btn-small.btn-success(href=people.url() + 'read') 只看读过
  hr
  include ./book/overview

hr
include ./book/hots
hr
include ./book/history
hr
include ./book/tops

if locals.most_commented
  include ./book/quote
if locals.highest_ratings
  include ./book/favs
