include ../mixins/interest

- s = people[istatus.ns + '_stats']
- coll = s[istatus.status]

if !coll
  .vmiddle
    p.alert
      if istatus.status == 'done'
        | 居然什么书都没读过？不可能吧？试试用
        a(href="http://book.douban.com/") 豆瓣读书
        | 来记录你看过的书。
else
  include ./book/tags

  n_comments = most_commented.length
  most_commented = central.utils.shuffle(most_commented).slice(0,3)
  include ./book/quote

  hr
  include ./book/keywords

  hr
  include ./book/history

  hr
  include ./book/tops

  hr
  .mod
    a.btn.btn-small.btn-primary(href="#{people.url()}") &lt; 返回 #{people.name}的读书酱
