@import 'base/reset'
@import 'base/layout'

@import 'interests/list'


input.inline
  display: inline-block;
  width: auto;
  margin: 0 0.4em;
  border: 0;
  border-bottom: 1px dashed #ccc;

.stats
  border: 1px solid #ba6;
  padding: 1em;
  border-radius: 2px;

.badge-syncing
  display: inline-block;
  line-height: 1.2;
  font-size: 12px;
  padding: 2px 3px;
  vertical-align: text-top;
  border-radius: 2px;
  margin: 0 0.4em;

.fmessage
  max-width: 1024px;
  pre
    text-align: left;

@import 'home'
