.logins
  margin: 10% 5%;
  h2
    text-align: center;
    margin: 20px;

  .douban-login
    text-align: center;
    border-right: dashed 1px #ddd;
    padding: 30px 30px 80px;

#main
  padding: 40px 0;

.mod
  padding: 10px 20px;
  h2
    border-bottom: 1px solid #ddd;
    margin-top: 0;
    margin-bottom: 20px;

.aside
  background: #f9f6f3;
  border-radius: 4px;
  h2
    border-bottom-color: #d9d9d9;

