@import 'nib'

.rbox-supple
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #f98;
  strong
    font-size: 14px;

.interest-rboxes a:hover
  border-radius: 3px 3px 0 0;
  .rbox-supple
    background: #fee8e9;
    margin-top: 8px;
    border-top-color: #ecc;

