#latest-synced.ticker.row
  .col.col-lg-2.col-sm-3
    h4 新鲜出炉：
  .col.col-lg-10.col-sm-9
    .ticker-content
      p.text-muted ...
      script#tmpl-latest-synced(type="text/tmpl")
        include ./tmpl_latest_synced.html
