.users-avatar
  padding: 0;
  margin: 0 0 20px;
  text-align: center;
  font-size: 12px;
  li
    list-style: none;
    float: left;
    margin: 5px;
    width: 92px;
    height: 80px;
  a
    display: block;
  img
    margin-bottom: 2px;
