.rbox-list
  margin 0
  a
    display: block;
    padding: 8px
    border 1px solid #e0e0e0
    color: #333;
    font-size: 12px;
    border-radius(3px)

    &:hover
      text-decoration: none;
      background: #fffdfa;
      border-color: #f98;
    .title
      color: #45b;
      font-size: 14px;
      margin: 0.8em 0 0;
    .rbox-supple
      margin-left: -9px;
      margin-top: 7px;
      border-top: 1px solid #f98;

  p
    margin: 0.5em 0 0.3em;
    line-height: 1.3em

  .pic
    margin: 0.6em auto;
    text-align: center;
    img
      border: 1px solid #eee;
      padding: 3px;
      border-radius(2px)

  li
    vertical-align: top;
    display inline-block
    margin 10px 8px 30px

.rbox-supple
  border: 1px solid #ddd;
  border-top: 0;
  background: #fafafa;
  padding: 10px;
  font-size: 12px;
  border-radius: 0 0 3px 3px;
  position: absolute;
  width: 106px;
  display: none;

li:hover .rbox-supple
  display: block;

.mixed-stars
  text-align: center
  .splitter
    color: #999;

.interest-rboxes
  img
    width: 100px;
  .pic, p
    width: 110px;

.people-rboxes
  li
    text-align: center;
  img
    height: 48px;
    width: 48px;

  p.title
    font-size: 13px;
  p
    width: 79px;
    height: 1.3em;
    overflow: hidden;

  .rbox-supple
    width: 75px;

  p.tags
    font-size: 12px;
    font-weight: 100;
    color: #b3b3b3;
    height: 2.4em;
    text-align: left;

  a:hover
    background: #fafdff;
    border-color: #90d0ec;
    .rbox-supple
      border-color: #90d0ec;
      border-top-color: #d9e3ef;
      background: #fff;


@media (max-width: 768px)
  .rbox-list
    margin: 0 -8px;
