.rbox-list
  margin 0
  a
    display: block;
    padding: 8px
    border 1px solid #e0e0e0
    color: #333;
    font-size: 12px;
    border-radius(3px)

    &:hover
      text-decoration: none;
      background: #fffdfa;
      border-color: #f98;
    .title
      color: #45b;
      font-size: 14px;
      margin: 0.8em 0 0;

  p
    margin: 0.5em 0 0.3em;
    line-height: 1.3em

  .pic
    margin: 0.6em auto;
    text-align: center;
    img
      border: 1px solid #eee;
      padding: 3px;
      border-radius(2px)

  li
    vertical-align: top;
    display inline-block
    margin 10px 8px 30px

.interest-rboxes
  img
    width: 100px;
  .pic, p
    width: 110px;

.people-rboxes
  li
    text-align: center;
  img
    height: 48px;
    width: 48px;

  p.title
    font-size: 13px;
  p
    width: 79px;
    height: 1.3em;
    overflow: hidden;

  p.tags
    font-size: 12px;
    font-weight: 100;
    color: #b3b3b3;
    height: 2.4em;
    text-align: left;

@media (max-width: 768px)
  .rbox-list
    margin: 0 -8px;
