extend ../500

block message
  if (err && err.message === 'pulling')
    h1 OH, wait....
    p 正在尝试获取用户信息，耐心一点啦
    if err.n
      p.muted
        small 你前面还有#{err.n}位用户
  else if (err && err.statusCode !== 404 && err !== 404)
    h1 OH, NO!
    p 获取用户出错了
  else
    h1 OH, NO!
    p 找不到此用户
    hr
    p.muted
      | 请注意，「豆瓣ID」并不是你的登录账号，也不是你的名号，<br>
      | 而是个人主页 www.douban.com/people/... 后的那一串数字或字符<br>
    small
      a(href="/") 回首页
