extend ../layout/basic

block head_more
    link(rel='stylesheet', href=static('/css/mine.css'))

block main 
  .row
    .col.col-md-9
      block article
        h1 #{name} 的豆瓣酱
        if people.invalid && !people.last_synced
          p.vmiddle.alert.alert-danger 获取用户信息不小心失败了，休息一会再重试看看吧
        else if !people.last_synced_status
          // 根本没有同步过
          include ./cases/never
        else if people.isIng() && (!people.stats || !people.book_stats.total)
          .vmiddle
            include ./cases/wait
        else if people.isEmpty('book')
          .vmiddle
            include ./cases/zero
        else if people.stats
          - console.log(people.stats)
          // is OK to show stats
          include ./mods/stats
        else if people.stats_fail
          .vmiddle
            include ./cases/failed
        else if people.syncFailed()
          .vmiddle
            include ./cases/sync_failed
        else if people.syncTimeout()
          .vmiddle
            p.alert.alert-danger 抱歉，同步数据超时了，重试看看吧
            hr
            include ./mods/resync 
        else
          .vmiddle
            include ./cases/wait
    .col.col-md-3
      block sidebar
        if (!req.url.split('/').pop() && req.user && req.user !== people && people.book_stats)
          include ./mods/click
        if people.created
          include ./mods/intro
