extend ./index

block article
  ul.breadcrumb
    li
      a(href=people.url()) #{name}的豆瓣酱
    li.active
      | #{istatus.name}
  .pull-right
    include ./mods/share.html
  h1 #{title}
  include ./stats/book_sub
  include ./mods/stats_js.jade
