extend ../layout/basic

block head_more
  style.
    h1 { font-size: 2em; margin-bottom: 1em; }
    #main { padding: 60px 20px; max-width: 600px; }
    ol { margin: 1em 2em 3em; }

block title
  title 关于豆瓣酱(doubanj.com)

block main
  h1 关于 doubanj.com
  p 这个看起来很像钓鱼网站的域名，居然一直没有人注册，我感到很奇怪。
  p 现在我把它拿来用了，做了这样一个网站。目前这些功能，并不是我设想的全部。
  p 顶着这个名字，「豆瓣酱」将只能一直围绕豆瓣网，实现各种豆瓣官方可能来不及做、不屑于做、碍于面子不肯做、做了也没多大好处的功能。
  h2#privacy 隐私问题
  p
    a(href="/about/privacy") &raquo; 点这里
  h2#tos 权责声明
  ol
    li.text-danger 本站与豆瓣官方没有任何形式的从属关系
    li 我们开放源代码，并且允许利用
       a(href="https://github.com/ktmud/doubanj") 该源码
       | 搭建类似网站
       p.text-muted.small 当然，更希望你能直接给豆瓣酱贡献你想要的功能
    li 
  h3 喜欢吗？
  p 觉得豆瓣酱有用吗？欢迎关注
    a(href="http://www.douban.com/people/69795126/") 我们的豆瓣账号
    |，或者
    a(href="/donate") 给点捐助
    |。
  p 也欢迎提出各种意见和要求，虽然大部分时候它们并不会被采纳。

  hr
  p.text-muted 
    em
      | 截至目前，豆瓣酱已经为 
      span.num #{n_people}
      |  位豆友生成了统计报表。
