extend ./about

block title
  title 什么是「契合指数」？ - 豆瓣酱

block main
  h1 「契合指数」&#0153;
  p 契合指数是根据你和友邻的读书收藏，自动算出来的阅读品味契合程度[
    a(href="http://www.doubanj.com/people/jinkai719/click/1299702") 示例
    ]。
  h3 为什么有这个东西？
  p 豆瓣已经可以帮你发掘出你可能感兴趣的书影音，为什么不能帮你发掘你可以感兴趣的人呢？
  h3 这个指数多少算高？
  p 根据现在的算法，契合指数 500 以上，可信度 80% 以上，两个人就应该可以在一起了。
  h3 什么叫「可信度」？
  p 两个人收藏的图书数量越接近，这种比较越有意义，所以可信度越高。
  h3 为什么会出现负分？
  p 如果两个人对同一本书的评星相差太大，会被扣分。
  h3 为什么没有音乐和电影？
  p 豆瓣读书开放的API更方便，而且站长觉得一个人的阅读趣味更能代表其真实品性。
  h3 我觉得这个结果不准！
  p 当然是图书收藏越多，结果越准。
  p 多标记你看过的书，并认真打分和撰写附注，不仅对他人有帮助，也能帮助自己养成积极向上的阅读习惯。
  h3 具体的算法是怎样的？
  p 简而言之就是取两个人图书收藏的交叉部分，并分别计算与总收藏的占比，比例越大得分越高。
  p 本站代码
    a(target="_blank", href="https://github.com/ktmud/doubanj") 全部开源
    ，「契合指数」部分
    a(target="_blank", href="https://github.com/ktmud/doubanj/blob/master/tasks/click/book.js") 再这里
    。欢迎提交 pull request 。
