extend ./about

block title
  title 什么是「契合指数」？ - 豆瓣酱

block main
  h1 「契合指数」
  h2 为什么有这个东西？
  p 豆瓣已经可以帮你发掘出你可能感兴趣的书影音，为什么不能帮你发掘你可以感兴趣的人呢？
  h2 这个指数多少算高？
  p 根据现在的算法，契合指数 500 以上，可信度 80% 以上，两个人就应该可以在一起了。
  h2 什么叫「可信度」？
  p 两个人收藏的图书数量越接近，这种比较越有意义，所以可信度越高。
  h2 我对这个算法有建议！
  p 欢迎 
    a(target="_blank", href="https://github.com/ktmud/doubanj") 直接提交 pull request
