extend ../layout/basic

block title
  title 捐助豆瓣酱

block main
  style.
    h1 { font-size: 2em; margin-bottom: 1em; }
    #main { padding: 60px 20px 100px; max-width: 600px;  }
    em { margin-left: 1em; }
    .btn-lg { font-size: 1.8em }

  h1 真的很需要你的钱
  p 如果你觉得本站对你有帮助，欢迎用金钱回馈开发者的辛苦付出。
  p 本站每年的主机费用需要 &yen;4000 左右，是笔不小的开支。
  hr
  p 试试用 <strong>微信扫一扫</strong> 转账：<br>
    img.img-responsive(width=150, src="#{static('/pics/wechat-qrcode.jpg')}")
  p 金额随意，心意比较重要。
  hr
  p 或者 <strong>支付宝扫一扫</strong> 也可以：<br>
    img.img-reponsive(width=150, src="#{static('/pics/alipay-qrcode.png')}")
  hr
  p 谢谢您！
