extend ../layout/basic

block title
  title 捐助豆瓣酱

block main
  style
    h1 { font-size: 2em; margin-bottom: 1em; }
    #main { padding: 60px 50px; max-width: 600px; text-align: center;  }
    .alert { margin: 50px 30px; }

  h1 捐钱
  p.alert.alert-success 你的捐助将有助于维持此项目的持续开发 :-)
  p
    a.btn.btn-warning(target="_blank", href="https://me.alipay.com/meme") 去支付宝给我付款
