extend ../layout/basic

block title
  title 捐助豆瓣酱

block main
  style.
    h1 { font-size: 2em; margin-bottom: 1em; }
    #main { padding: 60px 20px 100px; max-width: 600px;  }
    em { margin-left: 1em; }
    .btn-lg { font-size: 1.8em }

  h1 真的很需要你的钱
  h3 为什么要捐钱？
  p 开发者这么呕心沥血，拿点你的钱不应该吗？
  h3 做个网站能有什么成本？
  p 目前每年的服务器租用成本将近 &yen;4000 元。
  p 为了访问速度更快，我使用了国内的
    a(href="https://www.qingcloud.com/", target="_blank") 主机商
    ，还得不辞辛劳去备案，多不容易！
  h3 难道你不是自己做着开心就好吗？
  p 是啊是啊。但这样的快乐不够啊！我想看到回报，我不要这么无怨无悔地付出！
  p 所以请大家捐钱，让我更加地开心！
  hr
  p 支付宝捐款账号：
  p.alert.alert-warning.text-lg jackoko.cn@gmail.com
  p 或者使用下面的二维码：<br>
    img(src="#{static('/pics/alipay-qrcode.png')}")
  em.text-muted 给我钱吧，我会更努力的！
