extend ../layout/basic

block main
  style
    h1 { font-size: 2em; margin-bottom: 1em; }
    #main { padding: 60px 50px; max-width: 600px; }
    dd { margin-bottom: 0.6em; }

  h1 捐钱
  h2 为什么要捐钱？
  dl
    dt 捐的钱会用来干什么？
    dd 支付服务器租用费用。
    dt 你就这么差钱吗？
    dd 其实也不差。主要是有点回报，做起来会更有动力一点。
    dt 捐钱有什么好处？
    dd 基本上没有。
  h2 怎么捐？
  p
    a(href="https://me.alipay.com/meme") 点这里
  h2 已经捐了钱的好心人
  p 如果你愿意，我可以把你放到这个页面。

