text
  font-size: 11px;

.chart
  padding: 10px;
  margin-bottom: 20px;
  position: relative;

  .caption
    text-align: center;

.chart-pie
  height: 160px; // default height

.chart-bar
  height: 260px;

  .legend
    fill: #777;

.arc path
  stroke: #fff;

.axis path,
.axis line
  fill: none;
  stroke: #bbb;
  shape-rendering: crispEdges;

.bar-style-toggler
  line-height: 1;
  label
    vertical-align: middle;
    margin-left: 1em;
    input
      margin-right: 3px;

.chart-filter
  position: absolute;
  left: 35%;
  background: rgba(255,255,255,0.4);
