- progress_colors = locals.progress_colors || ['success', 'warning']
#progress.progress.progress-striped.active
  each p, i in people.progresses()
    - color = progress_colors[i]
    div(class="progress-bar progress-bar-#{color}", style="width:#{p}%")
if !people.stats_fail
  script
    window._uid_ = '#{people.uid}';
    !{istatic('js/people/progress.js')}
