.alert.alert-success
  p 共 #{people.book_n} 条图书记录，已同步 #{people.book_synced_n} 条，上次同步于&nbsp;
    time #{strftime(FULL_TIME, people.book_last_synced)}
    | ，数据报表生成于 
    time #{strftime(FULL_TIME, people.stats.book)}
