.label-status
  padding: 0.1em 0.3em;
  font-weight: 100;

.stars
  color: #e41;
  font-size: 1.1em;
  letter-spacing: 0.07em;
  margin: 0 0.2em;

.interests-list
  margin 0
  a
    color: #333;
    &:hover
      text-decoration: none;
    .title
      color: #33b;
  li
    list-style: decimal
    vertical-align: top;
    display inline-block
    padding: 10px
    border 1px solid #e0e0e0
    margin 10px
