.label-status
  padding: 0.1em 0.3em;
  font-weight: 100;

.stars
  color: #e41;
  font-size: 1.1em;
  letter-spacing: 0.07em;
  margin: 0 0.2em;

ol.comments-list
  list-style: decimal inside;

.comments-list
  margin: 0;
  list-style: square inside;

  .subject-image
    float: right;
    margin: 1em 0 5px 1em;

  li
    padding: 30px 10px;
    color: #aaa;
    border-top: 1px dotted #ddd;
    overflow: hidden;
    zoom: 1;

  p, blockquote
    color: #111;

    &:hover
      background: #fafff9;

  blockquote
    border-left: 0
    margin: 1em 1em;
    padding-left: 1em;
    
    &:before, &:after
      content: '\201C';
      color: #eaeaea;
      font-size: 3em;
      line-height: 0;
      vertical-align: bottom;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    &:before
      margin-left: -.5em;
    &:after
      content: '';
      float: right;
      margin-right: -0.3em;
      vertical-align: bottom;

  th
    text-align: center;
    font-weight: 400;
  .heading th
      font-size: 1.3em;
      padding: 10px 6px;
  th.subject
    img
      display: block;
      width: 80px;
      margin: 8px auto;
    width: 100px;
    min-width: 60px;
    font-size: 12px;
  td
    width: 45%;

table.comments-list
  margin-bottom: 30px;
  blockquote
    &:before, &:after
      font-size: 2.5em;
      color: #ddd;
    &:after
      content: '\201d';
    p
      font-size: 1em;
