include ./mixins.jade

.mod
  h2 我的读书酱
  if user.stats
    mixin overview(user)
    p
      a(href=user.url()) &raquo; 详细
  else
    .vmiddle
      a.btn.btn-primary(href=user.url()) 点此生成报告

.mod
  h2 与我最契合的友邻
  if top_click_users.length
    mixin avatar_list(top_click_users, 'book_score')
    .pull-right
      - topper = top_click_users[0]
      - share_text = '#豆瓣酱# 目前为止，和我读书品味最接近的友邻是 @' + topper.id
      - if (top_click_users.length > 1) share_text += ' 和 ' + top_click_users.slice(1).map(function(item) { return '@' + item.id; }).join(' ')
      - target_url = user.url() + 'click/' + topper.uid
      - share_url = "http://shuo.douban.com/!service/share?image=&href=" + encodeURIComponent(target_url)
      - share_url += "&name=" + encodeURIComponent(user.name + ' + ' + topper.name + ' 的契合指数 - 豆瓣酱')
      - share_url += "&text=" + encodeURIComponent(share_text)
      a.btn.btn-xs(target="_blank", href="#{share_url}") 告诉他们
    small.text-muted
      *只包括已经有报表的友邻
  else
    .text-muted
      p 访问友邻们的页面，会自动生成你们的
        a(href="/about/click", target="_blank") 契合指数
      p 得分最高的友邻会出现在这里

if top_click_users.length
  .mod
    small
      p 只有当你访问了某人的豆瓣酱报表，才会尝试计算你们的契合指数。计算结果也会出现在对方的记录里（即使你不是他的友邻）。
      p(style="margin-bottom:0") 所以如果上面出现了你不认识的人，则有可能是对方主动访问了你的页面。
