#footer
  .container
    p.muted.site-links
      a(href="http://github.com/ktmud/doubanj", target="github", title="doubanj.com on github") 源码
      a(href="/about", title="免责声明") 关于
      a(href="/about#privacy", title="免责声明") 隐私
      a(href="http://www.douban.com/#{locals.people ? '/people/' + people.uid + '/': ''}", target="douban") 回豆瓣
