if !locals.navbar_links
  - return
.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle(data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href=conf.site_root) #{conf.site_name}
