script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39104275-1']);
  _gaq.push(['_trackPageview']);
  function _insert(url) {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = url;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  }
  _insert('//www.google-analytics.com/ga.js');
  _insert('//tajs.qq.com/stats?sId=24297157');
