script
  var _hmt = _hmt || [];
  (function(s) {
    var hm = document.createElement("script"); hm.async = true;
    hm.src = "//hm.baidu.com/hm.js?edbd95867299ecb915f4753ff7c6fa54";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39104275-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
