@import 'nib';

sans = STHeiti,"Helvetica Neue",Helvetica,Arial,sans-serif
h1_size = 1.7em
h2_size = 1.35em
h3_size = 1.2em
h4_size = 1.1em
desc_size= 0.85em

p.small
  font-size: 0.85em;

.dot
  display: inline-block;
  width: 5px;
  height: 5px;
  overflow: hidden;
  background: #ccc;
  border: 1px solid #fff;
  box-sizing(content-box);
  border-radius(3px);

.dot-red
  background: #f56;

.dot-yellow
  background: #fc0;

.dot-green
  background: #1b0;

.hr-or
  border-top: 1px solid #eee;
  text-align: center;
  margin: 40px 0;
  height: 0;
  overflow: visible;
  color: #666;
  span
    position: relative;
    padding: 0 1em;
    line-height: 1;
    background: #fff;
    top: -1.5em;
