.stats
  border: 1px solid #ba6;
  padding: 1em;
  border-radius: 2px;

.badge
  display: inline-block;
  font-size: 12px;
  padding: 2px 3px;
  vertical-align: text-top;
  background: #f9f9f0;
  color: #933;
  border: 1px solid #eac;
  border-radius: 2px;
  margin: 0 0.4em;

