.vmiddle
  margin: 10% auto
  padding: 20px
  max-width: 600px
  text-align: center

  pre
    text-align: left

h1, h2, h3, h4
  font-family: sans
  margin-bottom: 0.5em
  line-height: 1.5

h1
  font-size: h1_size
  text-align: center

h2
  font-size: h2_size
  .btn
    margin: 0 0.5em
    vertical-align: text-top
h3
  font-size: h3_size
  margin: 0 0 0.5em

h4
  font-size: h4_size

#footer
  border-top: 1px solid #e0e0e0
  padding: 20px
  text-align: right
  font-size: 0.8em
  a
    color: #666
    margin-left: 10px
    &:hover
      color: #333

#main
  position: relative
  padding: 30px 0
  padding-bottom: 20px

h1 
  margin-top: 0

.desc
  line-height: 1.4em
  font-size: desc_size
  word-wrap: break-word

.people-intro
  .pull-right
      display: inline-block
      margin: 0 0 0.5em 0.5em

.alert
  p
    margin: 0.5em 0
  .progress
    margin-bottom: 0

.label-compact
  font-weight: 200
  padding: 0 0.2em
  line-height: 1.4em

.mod
  margin-bottom: 2em

.tagcloud
  margin-bottom: 1em

.tag-item
  display: inline-block
  margin-right: 0.7em
  a
    margin-right: 0 0.1em
  .muted
    font-size: 0.9em

.list-small
  font-size: 12px
  margin-left: 1.5em

.breadcrumb
  margin: 20px 0

a.anchor
  display: inline-block
  zoom: 1
  vertical-align: middle
  color: #aaa
  margin-left: 10px
  font-size: 16px
  line-height: 1em
  padding: 2px 5px
  font-family: arial

  &:hover
    text-decoration: none
    background: #aa
    color: #fff

.people-info
  img
    width: 48px
    height: 48px

.notice-more
  margin-top: 8em

.pager-center
  text-align: center
  margin: 20px 0
  .pagination
    margin: 0 10px
    vertical-align: middle

@media (max-width: 768px)
  .navbar:before, .navbar:after
    content: ""
    display: none
  .row
    margin: 0
    .mod, .chart
      padding: 0
@media (min-width: 440px) and (max-width: 768px)
  #tops .span3
    float: left
    width: 50%
