.vmiddle
  margin: 10% auto;
  padding: 20px;
  max-width: 600px;
  text-align: center;

  pre
    text-align: left;

h1, h2, h3, h4
  font-family: sans;
  margin-bottom: 0.5em;

h1
  font-size: h1_size;
  text-align: center;

h2
  font-size: h2_size;
  .btn
    margin: 0 0.5em;
    vertical-align: text-top;
h3
  font-size: h3_size;
  margin: 0 0 0.5em;

h4
  font-size: h4_size;

#footer
  border-top: 1px solid #e0e0e0;
  padding: 20px;
  text-align: right;
  font-size: 0.8em;
  a
    color: #666;
    margin-left: 10px;
    &:hover
      color: #333;

#main
  padding-bottom: 20px;

.desc
  line-height: 1.4em;
  font-size: desc_size;

.people-intro
  .pull-right
      display: inline-block;
      margin: 0 0 0.5em 0.5em;

.alert
  p
    margin: 0.5em 0;
  .progress
    margin-bottom: 0;

.btn-compact, .label-compact
  font-weight: 200;
  padding: 0 0.2em;
  line-height: 1.4em;

.mod
  margin-bottom: 2em;

.tagcloud
  margin-bottom: 1em;

.tag-item
  display: inline-block;
  margin-right: 0.7em;
  a
    margin-right: 0 0.1em;
  .muted
    font-size: 0.9em;

.list-small
  font-size: 12px;
  margin-left: 1.5em;

.breadcrumb
  margin: 20px 0;

a.anchor
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  color: #aaa;
  margin-left: 10px;
  font-size: 16px;
  line-height: 1em;
  padding: 2px 5px;
  font-family: arial;

  &:hover
    text-decoration: none;
    background: #aa;
    color: #fff;

.people-info
  img
    width: 48px;
    height: 48px;

.notice-more
  margin-top: 8em;


.rbox-list
  margin 0
  a
    display: block;
    padding: 10px
    border 1px solid #e0e0e0
    color: #333;
    font-size: 12px;
    border-radius(3px)

    &:hover
      text-decoration: none;
      background: #fffdfa;
      border-color: #f98;
    .title
      color: #45b;
      font-size: 14px;
      margin: 0.8em 0 0;

  p
    margin: 0.5em 0 0.3em;
    line-height: 1.3em

  .pic
    margin: 0.6em auto;
    text-align: center;
    img
      border: 1px solid #eee;
      padding: 3px;
      border-radius(2px)

  li
    vertical-align: top;
    display inline-block
    margin 10px 10px 40px

.interest-rboxes
  .pic, p
    width: 100px;

.people-rboxes
  li
    text-align: center;
  img
    height: 48px;
    width: 48px;

  p.title
    font-size: 13px;
  p
    width: 79px;
    height: 1.4em;
    overflow: hidden;
  p.tags
    font-size: 12px;
    font-weight: 100;
    color: #b3b3b3;
    height: 2.4em;
    text-align: left;

.pager-center
  text-align: center;
