.vmiddle
  margin: 10% auto;
  padding: 20px;
  max-width: 600px;
  text-align: center;

h1, h2, h3, h4
  font-family: sans;
  margin-bottom: 0.5em;

h1
  font-size: h1_size;
  text-align: center;

h2
  font-size: h2_size;
h3
  font-size: h3_size;
h4
  font-size: h4_size;

.desc
  line-height: 1.4em;
  font-size: desc_size;

.user-intro
  .pull-right
      display: inline-block;
      margin: 0 0 0.5em 0.5em;

.alert
  p
    margin: 0.5em 0;
