@import 'nib'

a
  color: #37a;

input[type="text"]
  border-radius(3px)

.alert, .btn
  border-radius(2px)

.navbar
  background: #f2f7f6

  input[type="text"]
    box-shadow(none)

blockquote
  p
    font-size: 1.15em;
    line-height: 1.4em;
    margin: 0.2em 0 0.6em;

.btn
  .glyphicon
    vertical-align: middle;
    line-height: 1;

.nav-pills-small
  > li
    margin: 0 2px;
  > li > a
    font-size: 12px;
    border-radius(2px)
    padding: 0 0.4em;
    line-height: 1.5em;

.jiathis_style .searchTxt
   min-height: 1em;
   padding: 0;
   line-height: 1em;
   box-shadow(none);

.navbar .nav a
  color: #666;
  padding: 14px 18px;

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
  background: #d3e6e3;
  border: 1px solid #cdc;
  border-width: 0 1px 1px;
  color: #374;

h2 small
  font-size: 70%;
