@import 'nib'

a
  color: #37a;

input[type="text"]
  border-radius(2px)

ol, ul
  padding: 0

.alert, .btn
  border-radius(2px)

.navbar
  background: #f2f7f6

  input[type="text"]
    box-shadow(none)

blockquote
  p
    font-size: 1.15em;
    line-height: 1.4em;
    margin: 0.2em 0 0.6em;

.btn
  .glyphicon
    vertical-align: middle;
    line-height: 1;

.nav-pills-small
  > li
    margin: 0 2px;
  > li > a
    font-size: 12px;
    border-radius(2px)
    padding: 0 0.4em;
    line-height: 1.5em;

.jiathis_style .searchTxt
   min-height: 1em;
   padding: 0;
   line-height: 1em;
   box-shadow(none);

.navbar
  background: none;
  color: #999;
  border: 0;

.navbar-default
  border-bottom: none;

.navbar .nav a
  color: #444;
  padding: 25px 14px 8px;
  border: 1px solid #fff;
  margin: 0 8px;

.navbar-default .navbar-nav > li > a:hover, .navbar-defaultult .navbar-nav > li > a:focus
  color: #777;

.navbar-default .navbar-nav > li > a
  color: #444;

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
  background: #effbf0;
  border-width: 0 1px 1px;
  border-color: #cae0ca;
  padding-top: 28px;
  padding-bottom: 10px;
  color: #1b8e38;

.navbar-default .navbar-brand
  padding-top: 25px;
  color: #444;
  font-weight: 500;

.navbar-form
	padding-top: 10px;

h2 small
  font-size: 70%;
