@import 'nib'

input[type="text"]
  border-radius(3px)

.alert, .btn
  border-radius(2px)

.navbar
  background: #f2f7f6

  input[type="text"]
    box-shadow(none)

blockquote
  p
    font-size: 1.15em;
    line-height: 1.4em;
    margin: 0.2em 0 0.6em;
