extend layout/basic

title = conf.site_name

block main
  form.vmiddle.form-inline(id="start-form", action="/")
    div
      label(for="uid")
        输入你的豆瓣个人主页地址：
    p
      input#uid.col-lg-7.col-sm-9(name="q", required, type="text", size="26", placeholder="http://www.douban.com/people/.../")
      &nbsp;
      button.btn.btn-primary(type="submit") 开始
    .hr-or
      span 或
    include ./auth/mods/douban

block ending
  script
    Do.urls(!{urlmap('d3')});
    !{istatic('js/homepage/ticker.js')}
  // preload the d3 library
  script(async)
    Do('d3');

block navbar_form
