extend layout/basic

title = conf.site_name

block main
    由于豆瓣中止了免费的开放API，本站即将于2月底下线。感谢你的陪伴。

block ending
  script.
    Do.urls(!{urlmap('d3')});
    //!{istatic('js/homepage/ticker.js')}
  // preload the d3 library
  script(async).
    Do('d3');

