extend layout/basic

title = conf.site_name

block main
  form.vmiddle.form-inline(id="start-form", action="/")
    div
      label(for="uid")
        输入你的豆瓣ID或个人主页地址：
    p
      input#uid.span7(name="q", required, type="text", size="26", placeholder="http://www.douban.com/people/.../")
      &nbsp;
      button.btn.btn-primary(type="submit") 开始

  hr
  include ./widgets/latest_synced


block ending
  script
    Do.urls(!{urlmap('lodash', 'd3')});
    !{istatic('js/homepage/ticker.js')}
  // preload the d3 library
  script(async)
    Do('d3');

block navbar_form
