extend layout/basic

title = conf.site_name

block main
  form.vmiddle.form-inline(id="start-form", method="post", action="/")
    input(type="hidden", name="_csrf", value=_csrf)
    div
      label(for="uid")
        输入你的豆瓣ID或个人主页地址：
    p
      input#uid.span6(name="uid", type="text", size="20", placeholder="http://www.douban.com/people/.../")
      &nbsp;
      button.btn.btn-primary(type="submit") 开始

block ending
  script(src=static('/js/d3.js'), async) // preload the d3 library

block navbar_form
