form.vmiddle(method="post", action="/queue")
  input(type="hidden", name="_csrf", value=_csrf)
  input(type="hidden", name="uid", value=uid)
  //- p
  //-   button.btn.btn-primary 开始为 #{name} 制造美味豆瓣酱
  if req.user
    hr
    if req.user == people
      small.text-muted 分析你的阅读历史
    else
      small.text-muted 为TA制造豆瓣酱，查看你们的契合指数
