p 天哪，这位 #{people.name} 居然一本书都没有读过！
hr
- if (new Date() - people.last_synced > 120000)
  include ../mods/resync
- else
  // cannot requeue in two minutes
  p.text-muted
    if req.user === people
      你需要
      a(href="http://book.douban.com/") 去收藏几本书
      | 吗？
    两分钟后才可以重试
