extend ../layout/basic

block title
  title
    登录 -  #{conf.site_name}

block head_more
    link(rel='stylesheet', href=static('/css/mine.css'))

block main
  .row.logins
    .col.col-lg-12.douban-login
      h2 通过豆瓣验证登录
      p
        include ./mods/douban
    //.col.col-lg-.splitter
    //.col.col-lg-6
    //include ./mods/login_form.jade
