extend ../layout/basic

include ../people/stats/book/mixins.jade

block title
  title
    我的豆瓣酱

block head_more
    link(rel='stylesheet', href=static('/css/mine.css'))

block main 
  small.lnk-logout
    a(href='/logout') &raquo; 退出
  .row
    .col.col-lg-3
      .aside
        include ./mods/sidebar
    .col.col-lg-9
      .mod
        h2 我关注的友邻
          a.btn.btn-default.btn-xs.clear-followings 刷新
        #followings.friends
          .alert.alert-warning.vmiddle
            正在获取友邻列表...
        include ./mods/tmpl_friends_list.html
        small.pull-right
          a.text-muted(href="http://www.douban.com/people/doubanj_com/status/1153013059/", target="_blank") 有关头像上的彩色小点
    script.
      window._uid_ = '#{user.uid || user.id}';
      !{istatic('js/mine/booter.js')}

block navbar_form
  form.navbar-form.navbar-right(id="navbar-form", action="/")
    div.form-group
      input.form-control(name="q", type="text", placeholder="输入友邻个人主页地址...", title="输入豆瓣ID以查看其统计", size="46")
