extend ../layout/basic

include ../people/stats/book/mixins.jade

block title
  title
    我的豆瓣酱

block head_more
    link(rel='stylesheet', href=static('/css/mine.css'))

block main 
  small.lnk-logout
    a(href='/logout') &raquo; 退出
  .row
    .span3
      .aside
        include ./mods/sidebar
    .span9
      .mod
        h2 我关注的友邻
        #followings.friends
          .alert.vmiddle
            正在获取友邻列表...
        include ./mods/tmpl_friends_list.html
    script
      window._uid_ = '#{user.uid || user.id}';
      !{istatic('js/mine/booter.js')}

block navbar_form
  form.navbar-form.pull-right(id="navbar-form", action="/")
    div
      input(name="q", type="text", placeholder="输入友邻个人主页地址...", title="输入豆瓣ID以查看其统计", size="36")
